---
import { FaUser } from 'react-icons/fa';

interface Props {
  href: string;
  buttonClass?: string;
}

const { href, buttonClass = '' } = Astro.props;
---

<a
  href="https://sullivancurry.smartvault.com/"
  class="block"
  target="_blank"
  rel="noopener noreferrer"
>
  <button
    type="button"
    class={`
    flex
    items-center
    whitespace-nowrap
    cursor-pointer
    rounded-lg 
    px-5 py-2 
    font-normal
    text-lg
    transition-all duration-200 ease-out
    hover:-translate-y-0.5
    hover:shadow-lg
    focus:outline-none
    focus-visible:ring-2 focus-visible:ring-white/60
    ${buttonClass}
    `}
  >
    <FaUser className="mr-2" />
    CLIENT PORTAL
  </button>
</a>

<!-- <button
    type="button"
    class="flex items-center whitespace-nowrap
      bg-gradient-to-b from-[var(--firmBlue)] to-[color-mix(in_srgb,var(--firmBlue)_85%,black)]
      text-white
      hover:from-[color-mix(in_srgb,var(--firmBlue)_95%,black)]
      hover:to-[color-mix(in_srgb,var(--firmBlue)_75%,black)]
      font-medium rounded-lg
      text-md px-5 py-2
      ml-8 me-2
      transition"
  > -->
