---
import { RiCalendarScheduleFill } from 'react-icons/ri';
---

<a href="/contact" className="block px-3 py-1">
  <button
    type="button"
    class="flex items-center whitespace-nowrap hover:opacity-70 bg-none text-white border-1 ring ring-white hover:ring-offset-.5 font-medium rounded-lg text-lg px-5 py-2 text-center text-md me-2 cursor-pointer"
    ><RiCalendarScheduleFill className="mr-2" />
    Contact Me
  </button>
</a>
