---
import { Image } from 'astro:assets';
import MainMenu from './MainMenu';
import Logo from '../../assets/logos/SullivanCurryWhite.png';

import ClientPortalButton from '../buttons/ClientPortalButton.astro';
---

<!-- Full-width background wrapper -->
<div class="w-full bg-[color:var(--firmDarkBlue)] z-50">
  <!-- Constrained content -->
  <div
    class="container-wide mx-auto flex items-center justify-between p-10 font-light text-xl"
  >
    <!-- Logo -->
    <a href="/" aria-label="Home" class="flex items-center">
      <Image src={Logo} alt="Sullivan & Curry logo" width={280} height={70} />
    </a>

    <!-- Menu + CTA -->
    <div class="flex items-center gap-6 text-white text-md">
      <MainMenu client:load />
      <ClientPortalButton
        href="https://sullivancurry.smartvault.com/"
        buttonClass="bg-[#ebf1ff] text-[var(--firmBlue)]"
      />
    </div>
  </div>
</div>

<!-- Divider -->
<div class="w-full h-1 bg-gray-300"></div>
