---
import { Image } from 'astro:assets';
import MainMenu from './MainMenu';
import Logo from '../../assets/logos/SullivanCurryWhite.png';

import ClientPortalButton from '../buttons/ClientPortalButton.astro';
import ScheduleButton from '../buttons/ScheduleButton.astro';
---

<!-- Full-width background wrapper -->
<div class="bg-[var(--firmDarkBlue)] w-full">
  <!-- Constrained content -->
  <div
    class="container-wide mx-auto flex justify-between items-center p-10 font-light text-xl"
  >
    <!-- Logo -->
    <div class="flex items-center">
      <a href="/" aria-label="Home">
        <Image src={Logo} alt="Logo" height="70" />
      </a>
    </div>

    <!-- Menu + CTA -->
    <div class="flex items-center text-white text-md">
      <span>
        <MainMenu client:load />
      </span>

      <ClientPortalButton />
    </div>
  </div>
</div>
<!-- White divider bar -->
<div class="w-full h-1 bg-gray-300"></div>
