---
import { Image } from 'astro:assets';
import GraphicOnly from '../assets/logos/graphic-only.png';
import HeroSignup from './buttons/HeroSignup.jsx';
---

<div
  class="container relative mt-10 mb-10 px-10 py-8 bg-astro-build-hero rounded-lg"
>
  <h1
    class="text-6xl/20 font-bold tracking-tight pl-5 relative z-20 text-left max-w-4xl text-white"
  >
    Modern technology is changing small business accounting
  </h1>

  <div
    class="text-gray-200 text-2xl font-light mt-5 pl-5 relative z-20 text-left max-w-3xl"
  >
    <p>
      These tools allow owners to make more informed decisions based on
      real-time data. I help small business owners adapt to these changes, and
      leverage them to their advantage.
    </p>
    <!-- <p>
      Modern tools are changing the way we work, and the way we run our
      businesses.
    </p> -->

    <!-- <p class="my-5">
      I help small business owners adapt to these changes, and leverage them to
      their advantage
    </p> -->

    <!-- <p class="my-5">I offer Modern Solutions to Age-Old Problems.</p> -->
  </div>
  <HeroSignup client:load />
</div>
