---
import { Image } from 'astro:assets';
import GraphicOnly from '../assets/logos/graphic-only.png';
import HeroSignup from './buttons/HeroSignup.jsx';
---

<div class="container relative mt-20 mb-20">
  <div class="absolute inset-0 flex items-center justify-center opacity-20 z-0">
    <Image
      src={GraphicOnly}
      alt="Graphic Only Logo"
      class="max-w-md max-h-md filter drop-shadow-[-5px_-5px_3px_pink]"
    />
  </div>

  <h1
    class="text-white text-7xl/20 font-bold tracking-tight relative z-20 text-center max-w-4xl mx-auto"
  >
    Modern technology is changing small business accounting
  </h1>

  <div
    class="text-gray-300 text-2xl font-light mt-5 relative z-20 text-center max-w-3xl mx-auto"
  >
    <p>
      These tools allow owners to make more informed decisions based on
      real-time data. I help small business owners adapt to these changes, and
      leverage them to their advantage.
    </p>
    <!-- <p>
      Modern tools are changing the way we work, and the way we run our
      businesses.
    </p> -->

    <!-- <p class="my-5">
      I help small business owners adapt to these changes, and leverage them to
      their advantage
    </p> -->

    <!-- <p class="my-5">I offer Modern Solutions to Age-Old Problems.</p> -->
  </div>
  <HeroSignup client:load />
</div>
