---
import LetsTalk from '../assets/images/LetsTalk.png';
import Documentation from '../assets/images/Documentation.png';
import Implementation from '../assets/images/Implementation.png';
---

<section
  class="container bg-white text-center py-8 px-6 mt-20 mb-20 rounded-lg"
>
  <h2 class="text-6xl/20 font-bold tracking-tight mb-6 text-[var(--firmBlue)]">
    Let's Get Started
  </h2>

  <!-- <h2 class="text-4xl font-bold tracking-wide mb-6 text-[rgb(6,9,199)] mb-6">
    Let's Get Started
  </h2> -->

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-10 bg-indigo-50 py-10 px-4 rounded-lg"
  >
    <!-- Step 1 -->
    <div class="flex flex-col items-center text-center px-4">
      <img src={LetsTalk.src} alt="Apply" class="h-16 mb-4" />
      <h3 class="text-xl font-bold mb-1 text-[var(--main-theme-color)]">
        Step 1
      </h3>
      <p class="text-2xl text-[var(--main-theme-color)] font-semibold mb-2">
        Let's Talk
      </p>
      <p class="text-xl text-gray-700">
        Complete this <a
          class="text-[var(--main-theme-color)] font-bold"
          href="/contact">form</a
        > and I will reach out. We will then talk to ensure we are a good fit.
      </p>
    </div>

    <!-- Step 2 -->
    <div class="flex flex-col items-center text-center px-4">
      <img src={Documentation.src} alt="Onboarding" class="h-16 mb-4" />
      <h3 class="text-xl font-bold mb-1 text-[var(--main-theme-color)]">
        Step 2
      </h3>
      <p class="text-2xl text-[var(--main-theme-color)] font-semibold mb-2">
        Onboarding
      </p>
      <p class="text-xl text-gray-700">
        If we are a fit, we will onboard and collect all of your information
        required for your selected services. This will be done through the
        secure portal.
      </p>
    </div>

    <!-- Step 3 -->
    <div class="flex flex-col items-center text-center px-4">
      <img src={Implementation.src} alt="Implementation" class="h-16 mb-4" />
      <h3 class="text-xl font-bold mb-1 text-[var(--main-theme-color)]">
        Step 3
      </h3>
      <p class="text-2xl text-[var(--main-theme-color)] font-semibold mb-2">
        Implementing
      </p>
      <p class="text-xl text-gray-700">
        After onboarding, we execute on the services you’ve chosen and are here
        to grow with you.
      </p>
    </div>
  </div>
</section>
